.navbar {
    box-shadow: 2px 2px 5px #0b0b0b;
    opacity: 0.9;
    
}

.navbar-brand {
    margin-top: -30px;
    margin-bottom: -30px;
    margin-right: 150px;
    
}

/* estilo para carousel slider*/
	
.carousel-inner,.carousel,.item,.container,.fill {
  height:745px;
  width:100%;
  background-position:center center;
  background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0px;}



/* estilo para foto fija*/
.main-header {
    min-height: 745px;
    position: relative;
    background: url(../img/fondo_grupo.jpg);
    background-size: cover;
    
  }

 
  .background-overlay {
    background: rgba(48, 51, 107,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
/* fin estilos foto fija*/

  .team {
  background: rgba(7, 7, 14, 0.9);
}

 .accordion {background: rgba(48, 51, 107,.7); 

}

.footer {
  background: rgba(7, 7, 14, 0.1);

    width: 100%;
    height: 100%;
    position: absolute;
}
/* Estilos Portafolio desde aquí*/
     /* agrego modal-xl para mostrar imágenes grandes*/
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}


